
body{
	line-height: 1;
	background-color: #ffffff;
}
h2{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 20px;
}			  
/*Section 1: Welcome*/
#welcome{
	display: grid;
	grid-template-columns: 350px 1fr;
	width: 100%;
	height: 100vh;
}
.welcome-menu{
	background: #ffffff;
	padding: 50px;
	position: relative;
}
.welcome-jumbo{
	max-width: calc(100vw - 350px);
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	background: #ed4852; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ed4852 0%,#9c1b24 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ed4852 0%,#9c1b24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	overflow : hidden;
	padding: 100px;
}
.welcome-jumbo .status{
	display: inline-block;
	padding: 10px 15px;
	font-size: 0.8rem;
	font-weight: 700;
	color: #ffffff;
	background: #000000;
	border-radius: 5px;
	align-self: flex-start;
	margin-bottom: 20px;
}
.welcome-jumbo h1{
	font-size: 3rem;
	font-weight: 900;
	align-self: flex-start;
	color: #ffffff;
	margin-bottom: 100px;
}
.welcome-jumbo .burger-fries{
	width: 100%;
/*	max-width: 600px;
	animation: moveUpandDown 2s linear infinite;
*/	position: relative;
}
/*
@keyframes moveUpandDown{
	0%, 100%{
		bottom: 0;
	}
	50%{
		bottom: 30px;
	}
}
*/
.logo{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.logo img{
	max-width: 100px;
}
.menu{
	margin-bottom: 50px;
}
.menu-title{
	text-transform: uppercase;
	color: #0971ce;
	font-weight: 700;
	font-size: 1.2rem;
	border-bottom: 1px solid #e2eaef;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
ul.links{

}
ul.links li a{
	color: #000000;
	font-weight: 700;
	font-size: 1.1rem;
	text-decoration: none;
	margin-bottom: 1.4rem;
	display: block;
	transition: color .3s ease-in-out;
}
ul.links li a:hover{
	color: #ff0000;

}
.social-icons{
	display: flex;

}
.social-icons a{
	display: flex;
	justify-content: center;
	align-items: center;
	background: grey;
	font-size: 0.9rem;
	text-decoration: none;
	background: #c2c8cc; 
	color: #ffffff;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;

}
.location{
	align-self: flex-end;
	position: absolute;
	bottom: 30px;
}
.location .address{
	color: #7a8d99;
	margin-bottom: 20px;
	line-height: 1.7;
}
.location .phone-number a{
	color: #0971ce;
	font-size: 1.7rem;
	font-weight: 700;
	text-decoration: none;
}
/*Section 2: Informtion*/
#information{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100vh;
}
.restaurant-image{
	overflow: hidden;
	height: 100%;
}
.restaurant-image img{
	width: 100%;
	
}
.info{
	padding: 100px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info h2{
	
}
.paragraphs{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	line-height: 1.7;
	color: #525e66;
	font-size: 1.1rem;
	margin-bottom: 1.7rem;
}
.about-link{
	font-size: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #000000;
	font-weight: 700;
}
.circle-right{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #ed4852; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #ed4852 0%, #9c1b24 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #ed4852 0%,#9c1b24 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #ed4852 0%,#9c1b24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.about-link .fa{
	color: #ffffff;
	font-size: 1rem;
}
.about-link span{
	margin-right: 20px;
}
/*Section 3: Food Preview*/
#food-preview{
	background: #f4f8fb;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#food-preview h2{
	text-align: center;
}
.button-rounded{

	background: #ed4852; /* Old browsers */
	color: #ffffff;
	display: inline-block;
	padding: 15px;
	border-radius: 30px;
	margin-bottom: 100px;
	/*width: 100px;*/
}
.food-slider{
	width: 100%;
	max-width: 1200px;
	display: flex;
}
.slide{
	width: 20%;
	height: 420px;
	position: relative;
	cursor: pointer;
}
.slide .background{
	top: 0;
	bottom: 0;
	width: 100%;
	background: #ffffff;
	height: 100%;
	z-index: 1;
	position: absolute;
	transition: transform .3s ease-in-out;
}
.slide:hover > .background{
		background:#f59c2e;
		transform: translate3d(0, -80px, 0);
}
.slide:hover > .content .food-title{
	color: #ffffff;
}
.slide:hover > .content .food-description{
	color: #ffffff;
}
.slide .content{
	position: absolute;
	z-index: 2;
	padding: 20px;
	/*width: 100%; */
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .3s ease-in-out;
}
.slide img{
	max-width: 250px;
	width: 95%;
}
.food-title{
	font-size: 2rem;
	font-weight: 900;
	color: #ed4852;;
	margin-bottom: 3rem;
	transition: all .3s ease-in-out;
}
.food-description{
	font-size: .8rem;
	font-weight: 400;
	line-height: 1.8;
	color: #7a8d99;
	margin-bottom: 3rem;
	transition: all .3s ease-in-out;
}